*config.js
node_modules/
*npm-debug.log
*.DS_Store
*.log
**.swp
*.rdb
*.gradle/
*gradlew.bat
*gradlew
*cache.properties
*cache.properties.lock
*fileHashes.bin
*fileSnapshots.bin
*outputFileStates.bin
*taskArtifacts.bin
*message.txt
pojo_*/
POJO_*/
docker-iqfeed/
iqfeed-debian-master/
